"*":
  core:
    disabledPackages: [
      "git-control"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 18
  "exception-reporting":
    userId: "2f9b05bb-a573-8afd-143a-b329372e7b0e"
  linter: {}
  welcome:
    showOnStartup: false
