"*":
  editor:
    fontSize: 16
  core:
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  "exception-reporting":
    userId: "2f9b05bb-a573-8afd-143a-b329372e7b0e"
  welcome:
    showOnStartup: false
  linter: {}
